.login-greeting {
  position: relative;
  top: 350px;
}

.greeting,
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
}

.greeting {
  position: relative;
  top: 20px;
}

.login-form input:first-child {
  border: none;
  outline: none;
  border-bottom: 1px solid whitesmoke;
  margin: 20px 10px;
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 14px;
  color: whitesmoke;
  background-color: inherit;
}

.login-form input::placeholder {
  display: flex;
  justify-content: center;
  color: rgb(105, 104, 104);
}

.login-form input[type="submit"] {
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
}
