body {
  height: 90vh;
}

.hidden {
  visibility: hidden;
}

.login-greeting {
  position: relative;
  top: 350px;
}

.greeting,
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
